:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #111114;
  padding: 5px !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px !important;
  margin-right: 5px !important;
}
